@font-face {
  font-family: 'Biome';
  src: url('../fonts/Biome-W01-Regular-1.ttf') format('truetype');
}

body {
  font-family: 'Biome';
}

.main_structure {
  width: 600px;
  padding: 1rem 3rem 1.4rem 3rem;
  box-shadow: 0.1rem 0.1rem 0.5rem gray;
  margin: 5% auto 1rem auto;
}

.topHead {
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-gap: 1rem;
}

.iniFields {
  padding: 1rem 0 1.5rem 0;
}

.logotipo {
  background: url(../../assets/logotipo-small.png);
  border: none;
  background-repeat: no-repeat;
  margin-top: 14px;
}

.grid {
  display: grid;
  grid-template-columns: 9% 1fr;
  gap: 5.9rem;
  height: 35px;
  padding: 0.5rem;
}

.parentPrintBtn { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.printBtn {
  width: 696px;
  height: 50px;
  border: none;
  font-size: 24px;
  color: #000;
  letter-spacing: 4px;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow; 
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.5rem gray;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}

.printBtn:hover {
  box-shadow: 0 0 5px #00000087, 0 0 5px #00000087, 0 0 5px #00000087, 0 0 25px #00000087;
}

.grid input {
  font-size: 17px;
  padding: 0 0.3rem;
}

.currentDate {
  grid-template-columns: 9% 13.6% 1fr;
  grid-gap: 0.5rem;
}

.btnCurrentDate {
  cursor: pointer;
  box-shadow: 0.1rem 0.1rem 0.5rem gray;
  background: #fff;
  border: unset;
  height: 33px;
}

.cloned-item {
  /* break-after: always; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10cm;
  height: 5cm;
  margin: 2rem auto;
  box-shadow: 0.1rem 0.1rem 0.5rem gray;
  padding: 1rem;
}

.cloned-item span {
  border-bottom: 2px solid #000;
}

.pedidoNro {
  font-size: 32px;
  text-transform: uppercase;
}

.field {
  display: grid;
  grid-template-columns: 88px 196px;
  font-size: 21px;
}

label {
  display: flex;
  align-items: center;
}

.qrcode canvas {
  width: 80px !important;
  height: 80px !important;
}

@media print {
  @page {
    size: 10cm 5cm;
    margin: 0;
  }

  .main_structure, .parentPrintBtn {
    display: none;
  }
  
  .qrcode {
    margin-right: 0.5rem;
  }

  .cloned-item {
    margin-bottom: 0.2rem;
    margin-top: unset !important;
    padding: unset;
    box-shadow: unset;
    page-break-after: always;
  }

  .renderItemsToPrint {
    margin-top: -8px;
    padding: 0;
  }
}